In [4]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [3]:
data = pd.read_csv("data/data.csv")
data.head(5)

   32.502345269453031  31.70700584656992
0           53.426804          68.777596
1           61.530358          62.562382
2           47.475640          71.546632
3           59.813208          87.230925
4           55.142188          78.211518

In [5]:
#cost function
def costfunction(X,Y,theta):
    inner = np.power(((X*theta)))